:root {
    --color-white: hsla(0, 0%, 100%, 1);
    --color-blue: hsla(228, 100%, 66%, 1);
    --color-blue-pale: hsla(228, 100%, 75%, 1);
    --color-red: hsla(0, 83%, 65%, 1);
    --color-gray: hsla(227, 14%, 52%, 1);
    --color-dark: hsla(228, 22%, 19%, 1);
    --color-dark-gray: hsla(227, 22%, 26%, 1);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}
